/* BORDER-BOX */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
  gap: 64px;
  background: midnightblue;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro-text {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

button.signup {
  width: 64px;
  height: 32px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
}

.info-text {
  text-align: center;
}

.card-image {
  width: 150px;
  height: 150px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgrey;
  padding: 72px 0;
}

.quote {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.quote-text {
}

.quote-author {
  align-self: flex-end;
}

.ad-container {
  display: flex;
  justify-content: center;
}

.ad {
  display: flex;
  background: blue;
  gap: 100px;
  padding: 32px 64px;
}


